.themes {
    margin: 0 -15px;
}
.themes .item {
    float: left;
    background: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.themes .item img {
    width: 240px;
    height: 240px;
}
.themes .authors {
    font-size: 12px;
    margin-bottom: 10px;
}