.current-theme img{
    float: left;
    width: 360px;
}
.current-theme .data {
    padding-left: 375px;
}

.themes {
    margin: 0 -15px;
}
.themes .item {
    float: left;
    padding: 15px;
    width: 270px;
}
.themes img {
    width: 100%;
}
.themes .authors {
    font-size: .75rem;
    margin-bottom: .5rem;
}