.ani {
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.menu-wrapper {
    width: 230px;
    position: fixed;
    height: 100%;
}
.menu-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu {
    position: fixed;
    width: 230px;
    cursor: default;
}
#menu li {
    position: relative;
}
#menu li.active::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 7px;
    border: solid 10px transparent;
    border-right-color: #fcfcfc;
    pointer-events: none;
}
#menu a {
    padding: 5px 10px 5px 34px;
}
#menu a:only-of-type {
    display: block;
}
#menu a:not(:only-of-type):first-child {
    width: 170px;
    display: inline-block;
}
#menu a:nth-child(2) {
    float: right;
    padding-left: 10px;
    width: 60px;
}
#menu li > .group {
    font-size: 16px;
    padding: 5px 10px;
}
#menu div .fa {
    margin-right: 10px;
    font-size: 14px;
    width: 14px;
}
#menu ul ul {
    display: none;
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
}
#menu ul li:hover > ul {
    display: block;
}
#menu ul ul a {
    padding: 5px 10px;
}
#main {
    margin-left: 230px;
    padding-top: 15px;
}

.confirmation {
    width: 100%;
    max-width: 640px;
    margin: 100px auto;
    padding: 15px;
}
.confirmation .btn {
    padding: 6px 48px;
}