.ani {
    -webkit-transition: all .2s;
    transition: all .2s;
}

.btn {
    border-radius: 0;
}

.menu-wrapper {
    width: 230px;
    position: fixed;
    height: 100%;
    z-index: 1;
}
.menu-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu {
    position: fixed;
    width: 230px;
    cursor: default;
}
#menu li {
    position: relative;
}
#menu li.active::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 7px;
    border: solid 10px transparent;
    pointer-events: none;
}
#menu a {
    padding: 5px 10px 5px 34px;
}
#menu a:only-of-type {
    display: block;
}
#menu a:not(:only-of-type):first-child {
    width: 170px;
    display: inline-block;
}
#menu a:nth-child(2) {
    float: right;
    padding-left: 10px;
    width: 60px;
}
#menu li > .group {
    font-size: 16px;
    padding: 5px 10px;
}
#menu div .fa {
    margin-right: 10px;
    font-size: 14px;
    width: 14px;
}
#menu ul ul {
    display: none;
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
}
#menu ul li:hover > ul {
    display: block;
}
#menu ul ul a {
    padding: 5px 10px;
}

.page-wrapper {
    position: relative;
    margin-left: 230px;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
}
.page-wrapper::before, .page-wrapper::after {
    content: '';
    display: table;
}

.header {
    padding: 1rem 0;
}

.header h1 {
    font-size: 2rem;
    line-height: 1;
}

#alerts {
    margin-top: 15px;
}

.main {
    margin: 0 -15px 45px;
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.confirmation {
    width: 100%;
    max-width: 640px;
    margin: 100px auto;
    padding: 15px;
}
.confirmation .btn {
    padding: 6px 48px;
}

.box {
    border: 0;
    border-radius: 0;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}

.btn-group-sm>.btn+.dropdown-toggle-split,
.btn-sm+.dropdown-toggle-split {
    padding-right: .7rem;
    padding-left: .7rem;
}
